<div>
  <div fxFlex>{{ aVariable }}</div>

  <div fxLayout>{{ aVariable }}</div>
  <div fxLayout="row">{{ aVariable }}</div>
  <div fxLayout="row-reverse">{{ aVariable }}</div>
  <div fxLayout="column">{{ aVariable }}</div>
  <div fxLayout="column-reverse">{{ aVariable }}</div>
  <div fxLayout="row wrap">{{ aVariable }}</div>
  <div fxLayout="row-reverse wrap">{{ aVariable }}</div>
  <div fxLayout="column wrap">{{ aVariable }}</div>
  <div fxLayout="column-reverse wrap">{{ aVariable }}</div>
  <div fxLayout="row inline">{{ aVariable }}</div>
  <div fxLayout="row-reverse inline">{{ aVariable }}</div>
  <div fxLayout="column inline">{{ aVariable }}</div>
  <div fxLayout="column-reverse inline">{{ aVariable }}</div>

  <div fxLayoutAlign="start">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="center">{{ aVariable }}</div>
  <div fxLayoutAlign="end">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between">{{ aVariable }}</div>

  <div fxLayoutAlign="start start">{{ aVariable }}</div>
  <div fxLayoutAlign="start flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="start center">{{ aVariable }}</div>
  <div fxLayoutAlign="start end">{{ aVariable }}</div>
  <div fxLayoutAlign="start flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="start space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="start space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="start space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="start stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="start stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="start baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="flex-start start">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start center">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start end">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="flex-start stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-start baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="center start">{{ aVariable }}</div>
  <div fxLayoutAlign="center flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="center center">{{ aVariable }}</div>
  <div fxLayoutAlign="center end">{{ aVariable }}</div>
  <div fxLayoutAlign="center flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="center space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="center space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="center space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="center stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="center stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="center baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="flex-end start">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end center">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end end">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="flex-end stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="flex-end baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="end start">{{ aVariable }}</div>
  <div fxLayoutAlign="end flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="end center">{{ aVariable }}</div>
  <div fxLayoutAlign="end end">{{ aVariable }}</div>
  <div fxLayoutAlign="end flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="end space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="end space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="end space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="end stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="end stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="end baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="space-around start">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around center">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around end">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="space-around stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="space-around baseline">{{ aVariable }}</div>

  <div fxLayoutAlign="space-between start">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between flex-start">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between center">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between end">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between flex-end">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between space-around">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between space-between">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between space-evenly">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between stretch">{{ aVariable }}</div>
  <div fxLayout="column" fxLayoutAlign="space-between stretch">{{ aVariable }}</div>
  <div fxLayoutAlign="space-between baseline">{{ aVariable }}</div>

  <div fxHide></div>
  <div fxHide="true"></div>
  <div fxHide="false"></div>
  <div [fxHide]="aCondition"></div>

  <div fxShow></div>
  <div fxShow="true"></div>
  <div fxShow="false"></div>
  <div [fxShow]="aCondition"></div>
</div>
